@import url('https://fonts.googleapis.com/css2?family=Gurajada&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display+SC&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* background: url(img/bg.jpg) no-repeat center center fixed;
    background-size: cover; */

@keyframes fade {
    0%{ opacity : 0;
    }
        100%{ opacity : 1;
    }
}
body{
    
    background: url(img/newpng2.png) no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    animation: fade 3s ease 1 forwards;
}
header{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: black;
}

header ul li{
    list-style: none;
    display: inline;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 1.2vw;
}
header ul li a:hover{
    text-decoration: none;
    color: rgb(138, 67, 67);
    font-family: 'Playfair Display SC', serif;
    font-size: 1.2vw;
}

.left ul {
    margin: 3vw;
    margin-top: 2vh;
}
.left ul li{
    margin: 3vw;
    margin-top: 2vh;
}

.right ul{
    margin-right: 5vw;
    margin-top: 2vh;
}

.content{
    height: 92vh;
    
    
    display: flex;
    align-items: center;
    justify-content: left;
}

.container{
    color: white;
    padding-left: 6vw;
    padding-bottom: 6vh;
    width: 50vw;
}

.container h1{
    margin-top: 13vh;
    margin-bottom: 2vh;
    font-size: 2vw;
    font-family: 'Playfair Display SC', serif;
    font-size: 2vw;
}
.container h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
}

.box1{
    /* width: vw; */
    height: 50vh;
    background-color: rgba(52, 53, 63, 0.562);
    display: flex;
    align-items: center;
}

.box1 img{
    height: 33vh;
    width: 22vw;
    display: inline-block;
    padding-left: 17vw;
}

.coursera-content{
    width: 50vw;
    height: 50vh;
    /* border: 2px solid red; */
    padding-top: 5vw;
}

.coursera-content h2{
    font-size: 2vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: absolute;
    left: 5.5vw;
    padding-top: 2vw;
}
.coursera-content h5{
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    padding-top: 6vw;
}

.box1 a{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    /* padding-top: 6vw; */
}

.box1 a:hover{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: rgb(28, 29, 134);
    position: relative;
    left: 5.5vw;
    /* padding-top: 6vw; */
}

.box2{
    /* width: vw; */
    height: 50vh;
    background-color: rgba(35, 132, 156, 0.562);
    display: flex;
    align-items: center;
}

.box2 img{
    height: 33vh;
    width: 22vw;
    display: inline-block;
    padding-left: 17vw;
}

.internshala-content{
    width: 50vw;
    height: 50vh;
    /* border: 2px solid red; */
    padding-top: 5vw;
}

.internshala-content h2{
    font-size: 2vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: absolute;
    left: 5.5vw;
    padding-top: 2vw;
}
.internshala-content h5{
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    padding-top: 6vw;
}

.box2 a{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    /* padding-top: 6vw; */
}

.box2 a:hover{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: rgb(28, 29, 134);
    position: relative;
    left: 5.5vw;
    /* padding-top: 6vw; */
}

.box3{
    /* width: vw; */
    height: 50vh;
    background-color: rgba(160, 92, 28, 0.562);
    display: flex;
    align-items: center;
}

.box3 img{
    height: 33vh;
    width: 22vw;
    display: inline-block;
    padding-left: 17vw;
}

.ds-content{
    width: 50vw;
    height: 50vh;
    /* border: 2px solid red; */
    padding-top: 5vw;
}

.ds-content h2{
    font-size: 2vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: absolute;
    left: 5.5vw;
    padding-top: 2vw;
}
.ds-content h5{
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    padding-top: 6vw;
}

.box3 a{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    /* padding-top: 6vw; */
}

.box3 a:hover{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: rgb(28, 29, 134);
    position: relative;
    left: 5.5vw;
    /* padding-top: 6vw; */
}


.box4{
    /* width: vw; */
    height: 50vh;
    background-color: rgba(94, 175, 112, 0.562);
    display: flex;
    align-items: center;
}

.box4 img{
    height: 42vh;
    width: 15vw;
    display: inline-block;
    padding-left: 20vw;
}

.ccc-content{
    width: 50vw;
    height: 50vh;
    /* border: 2px solid red; */
    padding-top: 5vw;
}

.ccc-content h2{
    font-size: 2vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: absolute;
    left: 5.5vw;
    padding-top: 2vw;
}
.ccc-content h5{
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    padding-top: 6vw;
}

.box4 a{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    /* padding-top: 6vw; */
}

.box4 a:hover{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: rgb(28, 29, 134);
    position: relative;
    left: 5.5vw;
    /* padding-top: 6vw; */
}

.box5{
    /* width: vw; */
    height: 50vh;
    background-color: rgba(241, 96, 12, 0.562);
    display: flex;
    align-items: center;
}

.box5 img{
    height: 33vh;
    width: 22vw;
    display: inline-block;
    padding-left: 17vw;
}

.ss-content{
    width: 50vw;
    height: 50vh;
    /* border: 2px solid red; */
    padding-top: 5vw;
}

.ss-content h2{
    font-size: 2vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: absolute;
    left: 5.5vw;
    padding-top: 2vw;
}
.ss-content h5{
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    padding-top: 6vw;
}

.box5 a{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    position: relative;
    left: 5.5vw;
    
}

.box5 a:hover{
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Playfair Display SC', serif;
    color: rgb(28, 29, 134);
    position: relative;
    left: 5.5vw;
    
}

.box6{
    height: 10vh;
    background-color: rgba(187, 59, 102, 0.562);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box6 h2{
    font-family: 'Playfair Display SC', serif;
    font-size: 1.3vw;
    color: black;
}


