@import url('https://fonts.googleapis.com/css2?family=Gurajada&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display+SC&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* background: url(img/bg.jpg) no-repeat center center fixed;
    background-size: cover; */

    @keyframes fade {
        0%{ opacity : 0;
        }
        100%{ opacity : 1;
        }
    }

body{
    
    background: url(img/newpng2.png) no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    animation: fade 2s ease 1 forwards;
    /* width: 100vw; */
}
header{
    display: flex;
    justify-content: space-between;
    height: 8vh;
}

header ul li{
    list-style: none;
    display: inline;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 1.2vw;
}
header ul li a:hover{
    text-decoration: none;
    color: rgb(138, 67, 67);
    font-family: 'Playfair Display SC', serif;
    font-size: 1.2vw;
}

.left ul {
    margin: 3vw;
    margin-top: 2vh;
}
.left ul li{
    margin: 3vw;
    margin-top: 2vh;
}

.right ul{
    margin-right: 5vw;
    margin-top: 2vh;
}

.content{
    height: 92vh;
    
    
    display: flex;
    align-items: center;
    justify-content: left;
}

.container{
    color: white;
    padding-left: 6vw;
    padding-bottom: 15vh;
}
.heading{
    padding-bottom: 3vh;
}
.heading h2{
    padding-bottom: 2vh;
    font-family: 'Playfair Display SC', serif;
    font-size: 2vw;
}
.heading h1{
    padding-bottom: 3vh;
    font-family: 'Playfair Display SC', serif;
    font-size: 2vw;
}

.para span{
    font-family: 'Open Sans', sans-serif;
}
.line1{
    font-size: 1vw;
}
.line2{
    font-size: 1vw;
}
.line3{
    font-size: 1vw;
}

.link a{
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
    color: whitesmoke;
    font-size: 1.2vw;
}
.link a:hover{
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
    color: rgb(138, 67, 67);
    font-size: 1.2vw;
}




